:root {
    --lavender-deep: #928fa3;
    --lavender-soft: #a19db3;
    --lavender-muted: #b2aec1;
    --lavender-light: #c2bfcf;
    --dusty-pink: #ded4d6;
    --dusty-cream: #f3eaec;
    --grey-cream: #f5f5f5;
    --grey-cream-90: rgba(245, 245, 245, 0.9);
    --clay-rose: #d3c1b5;
    --clay-rose-50: rgba(211, 193, 181, 0.5);
    --sage-muted: #adbcb5;
    --sage-soft: #98a9a2;
    --sage: #83968e;
    --sage-dark: #7c8b84;
  }